# Лабораторная работа №2

## Выполнил: Антонов Илья, группа 20ПМИ2

In [4]:
import pandas as pd
from benchmark import benchmark

In [5]:
time_table, counter_table, solution_table, weight_table, profit_table = benchmark()
algoritms_names = ['2_approx', 'dp_by_weights', 'dp_by_profits', 'branches_and_boundaries', 'FPTAS_eps_0.001']
test_names = [f'p0{i}' for i in range(1,9)]

# Время работы

In [6]:
pd.DataFrame(time_table, columns=algoritms_names, index=test_names)

,2_approx,dp_by_weights,dp_by_profits,branches_and_boundaries,FPTAS_eps_0.001
p01,0.000098,0.001144,0.004141,0.000269,0.158297
p02,0.000088,0.000092,0.000285,0.000205,0.031825
p03,0.000082,0.000656,0.000939,0.000207,0.052331
p04,0.000199,0.000307,0.001031,0.000148,0.070529
p05,0.000133,0.00064,0.010397,0.000488,0.094419
p06,0.000084,0.000909,0.014679,0.000551,0.065345
p07,0.000098,0.009598,0.031279,0.035522,0.342206
p08,0.000157,-,-,0.474648,-

# Количество промежуточных решений

In [7]:
pd.DataFrame(counter_table, columns=algoritms_names, index=test_names)

,2_approx,dp_by_weights,dp_by_profits,branches_and_boundaries,FPTAS_eps_0.001
p01,2,1494,5571,11,179955
p02,2,108,380,31,39996
p03,2,955,1465,33,59985
p04,2,306,1290,18,83994
p05,2,735,12439,54,111993
p06,2,1026,20826,100,83994
p07,2,10514,40362,4669,393414
p08,2,-,-,41704,-

# id предметов

In [9]:
pd.DataFrame(solution_table, columns=algoritms_names, index=test_names)

,2_approx,dp_by_weights,dp_by_profits,branches_and_boundaries,FPTAS_eps_0.001
p01,"[1, 1, 1, 1, 0, 1, 0, 0, 0, 0]","[1, 1, 1, 1, 0, 1, 0, 0, 0, 0]","[1, 1, 1, 1, 0, 1, 0, 0, 0, 0]","[1, 1, 1, 1, 0, 1, 0, 0, 0, 0]","[1, 1, 1, 1, 0, 1, 0, 0, 0, 0]"
p02,"[1, 0, 1, 0, 0]","[0, 1, 1, 1, 0]","[0, 1, 1, 1, 0]","[0, 1, 1, 1, 0]","[0, 1, 1, 1, 0]"
p03,"[1, 1, 0, 1, 0, 0]","[1, 1, 0, 0, 1, 0]","[1, 1, 0, 0, 1, 0]","[1, 1, 0, 0, 1, 0]","[1, 1, 0, 0, 1, 0]"
p04,"[1, 0, 0, 1, 0, 0, 0]","[1, 0, 0, 1, 0, 0, 0]","[1, 0, 0, 1, 0, 0, 0]","[1, 0, 0, 1, 0, 0, 0]","[1, 0, 0, 1, 0, 0, 0]"
p05,"[0, 1, 1, 1, 0, 1, 1, 1]","[1, 0, 1, 1, 1, 0, 1, 1]","[1, 0, 1, 1, 1, 0, 1, 1]","[1, 0, 1, 1, 1, 0, 1, 1]","[1, 0, 1, 1, 1, 0, 1, 1]"
p06,"[0, 1, 0, 1, 0, 0, 1]","[0, 1, 0, 1, 0, 0, 1]","[0, 1, 0, 1, 0, 0, 1]","[0, 1, 0, 1, 0, 0, 1]","[0, 1, 0, 1, 0, 0, 1]"
p07,"[1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1]","[1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1]","[1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1]","[1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1]","[1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1]"
p08,"[1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, ...",-,-,"[1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, ...",-

# Итоговый вес

In [10]:
pd.DataFrame(weight_table, columns=algoritms_names, index=test_names)

,2_approx,dp_by_weights,dp_by_profits,branches_and_boundaries,FPTAS_eps_0.001
p01,165,165,165,165,165
p02,23,26,26,26,26
p03,179,190,190,190,190
p04,50,50,50,50,50
p05,92,104,104,104,104
p06,169,170,169,169,169
p07,740,749,749,749,749
p08,6323699,-,-,6402560,-

# Итоговый profit

In [11]:
pd.DataFrame(profit_table, columns=algoritms_names, index=test_names)

,2_approx,dp_by_weights,dp_by_profits,branches_and_boundaries,FPTAS_eps_0.001
p01,309,309,309,309,309
p02,47,51,51,51,51
p03,146,150,150,150,150
p04,107,107,107,107,107
p05,888,900,900,900,900
p06,1735,1735,1735,1735,1735
p07,1441,1458,1458,1458,1458
p08,13415886,-,-,13549094,-